<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <link
      rel="icon"
      type="image"
      style="width: 100%"
      href="./libraries/index/images/golo_logo.png"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./admin_assets/css/styles.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>

    <!-- angular files -->
    <script src="./libraries/js/angular.js"></script>
    <script src="./libraries/js/angular-cookies.js"></script>
    <script src="./libraries/lib/notification.js"></script>
    <script src="./libraries/lib/angular-ui-notification.js"></script>
    <script src="./angular/config.js"></script>
    <link rel="stylesheet" href="./libraries/angular-ui-notification.min.css" />
  </head>
  <body ng-app="loginApp" ng-controller="LoginController">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                      Admin Login
                    </h3>
                  </div>
                  <div class="card-body">
                    <form
                      name="personForm"
                      novalidate
                      ng-submit="personForm.$valid &&sendForm()"
                    >
                      <div class="form-group">
                        <label class="small mb-1" for="inputEmailAddress"
                          >Email</label
                        ><input
                          class="form-control py-4"
                          ng-model="admin.email"
                          ng-required="true"
                          type="email"
                          placeholder="Enter email address"
                          autocomplete="off"
                          name="email"
                        />
                        <span
                          style="color: Red"
                          ng-show="personForm.email.$error.required"
                        >
                          Required!
                        </span>
                        <span
                          style="color: Red"
                          ng-show="personForm.email.$dirty&&personForm.email.$error.pattern"
                          >Please Enter Valid Email</span
                        >
                      </div>
                      <div class="form-group">
                        <label class="small mb-1" for="inputPassword"
                          >Password</label
                        ><input
                          class="form-control py-4"
                          ng-model="admin.password"
                          type="password"
                          placeholder="Enter password"
                          name="password"
                          autocomplete="off"
                          required
                        />
                        <span
                          style="color: Red"
                          ng-show="personForm.password.$error.required"
                        >
                          Required!
                        </span>
                      </div>

                      <div
                        class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"
                      >
                        <a class="small" href="">Forgot Password?</a
                        ><a
                          class="btn btn-primary"
                          ng-click="postForm()"
                          href=""
                          style="font-size: 14px; padding: 6px"
                          ng-if="admin.email && admin.password"
                          >Login</a
                        >
                      </div>
                    </form>
                  </div>
                  <div class="card-footer text-center"></div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="./admin_assets/js/jquery-3.4.1.min.js"></script>
    <script src="./admin_assets/js/bootstrap.bundle.min.js"></script>
    <script src="./admin_assets/js/scripts.js"></script>
    <script src="./libraries/index/js/index.js"></script>
    <script src="./angular/login.js"></script>
  </body>
</html>
